body {
    width: 300px;
    text-align: center;
    font-family: Helvetica, sans-serif
}
button {
    background-color: #4285f4;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #357ae8;
}